@import 'tailwindcss';

@theme {
  --color-primary: #2fff7f;
  --color-secondary: #23272e;
  --color-danger: #ff4d4f;
  --color-background: #10151a;
  --color-foreground: #ededed;
  --color-primary-gradient: linear-gradient(90deg, #2fff7f 0%, #0be881 100%);
}

body {
  @apply bg-background text-foreground;
}

.link {
  @apply hover:text-primary transition-all duration-300 hover:underline;
}
