@import 'tailwindcss';

/* Note: for dev delete later */
/* * {
  @apply bg-teal-800/10;
} */

@theme {
  --color-primary: #2fff7f;
  --color-secondary: #23272e;
  --color-danger: #ff4d4f;
  --color-background: #10151a;
  --color-foreground: #ededed;
  --color-primary-gradient: linear-gradient(90deg, #2fff7f 0%, #0be881 100%);
}

/* html style start =====  */
html,
body {
  @apply bg-background text-foreground;
}

label {
  @apply mb-2 block;
}

input,
textarea {
  @apply w-full rounded-md bg-gray-800/50 px-4 py-4 text-sm placeholder:text-teal-100/50 md:text-base;
}

/* html style end =====  */

/* element style start ===== */

.cta-button {
  @apply bg-background relative flex cursor-pointer items-center justify-center overflow-hidden rounded-lg border border-gray-700 px-4 py-4;
}

.section {
  @apply relative flex min-h-fit w-full items-center justify-center p-6;
}

.tag {
  @apply text-primary border-primary/50 rounded-full border bg-gray-900 px-3 py-1 text-sm;
}

.link {
  @apply hover:text-primary transition-all duration-300 hover:underline;
}

/* element style end ===== */
